@import "fonts.css";

html {
  background: rgb(52,55,58);

  height: 100%;

  width: 100%;

  font-family: Open Sans;

  color: rgb(211,212,221);

}

body{

  height: 100%;

  margin: 0;

  display: flex;

  flex-direction: column;
}

p{

  font-size: 16px;

}

a{

  color: rgb(211,212,221);

}

a:hover{

  color: rgb(51, 51, 204);

}

iframe{

  text-align: center;
  
   width: 80%;

   aspect-ratio: 1920/1080;
}

table{

  border: 2px solid rgb(51, 51, 204);

  border-radius: 20px;

  padding: 10px;

  width:100%;
  
}

th, td {

  text-align: left;
  
  border:2px solid rgb(211,212,221);

  rgb(211,212,221);
  
  padding: 10px;
  
}

.button{

  background: rgb(40,43,48);

  border: 2px solid rgb(51, 51, 204);

  border-radius: 20px;

  padding: 20px 35px;

  text-align: center;

  text-decoration: none;

  margin: 15px;

  cursor: pointer;

  font-size: 20px;
}

.button:hover{

  border-radius: 20px;

  text-decoration: underline;

}

page{

  display: flex;

}

sidebar{

  width: 150px;

  background: rgb(40,43,48);

  height: 100%;

  position: fixed;

  z-index: 999;

}

sidebar > icon{

  display: flex;

  height: 150px;

  background: rgb(30,33,36);

}

sidebar > icon > img{

  margin-left: 25px;

  margin-top: 25px;

  border: 2px solid rgb(204, 204, 41);

  border-radius: 30px;

  width: 90px;

  height: 90px;

  filter: invert(100%);

}

sidebar > nav{

  margin-left: 20px;

  font-size: 16px;

  line-height: 2.5;

  color: rgb(211,212,221);

}

ul, ol {
  list-style: none;
  padding-left: 0;
}

ul ul{

  margin-left: 15px;

}

nav a {

  color: rgb(211,212,221);

}

nav ul li{

  margin-left: 10px;
  
}

content {

  width: calc( 100vw - 150px );

  position: sticky;

  flex: 1 0 auto;

  margin-left: 150px;

  justify-content: center;

}

content div{

  display: flex;

  margin: auto;

  justify-content: center;

  align-items: center;

}

div.section{

  display: block;

}

header, footer{

  display: flex;

  background: rgb(30,33,36);

  align-items: center;

  justify-content: center;

}

header{

  height: 150px;
  
}

footer{

  margin-top: 50px;

  padding: 15px;

}


logo{

  font-family: monoton;

  font-size: min(5vw, 55px);

  color: rgb(51, 51, 204);

  text-align: center;

}

.headline{
  background: rgb(30,33,36);
  width: 100%;
}

h1{

  font-size: 24px;

  font-weight: bold;

  text-align: center;

  margin: 5px;

}

h2{

  font-size: 22px;

  font-weight: bold;

  text-align: center;

  font-weight: normal;

  margin: 5px;

}

large{

  font-size: 20px;

  text-align: center;

  font-weight: normal;

  margin: 5px;

}

.b{

  color: rgb(51, 51, 204);

}

.l{

  text-align: left;

}

box{

  max-width: 1000px;

  width: calc(100vw - 400px);

  margin: 25px 75px;

  background: rgb(40,43,48);

  border: 2px solid rgb(51, 51, 204);

  border-radius: 20px;

  padding: 15px;

  align-self: stretch;

  align-items: center;

  font-size: 18px;

}

box.fit{

  padding: 5px 35px;

  width: max-content;

}


box.left{

  max-width: 450px;

  width: calc(50vw - 225px);

  float: left;

  margin: 25px 25px 25px 50px;

}

box.right{

  max-width: 450px;

  width: calc(50vw - 225px);

  float: right;

  margin: 25px 50px 25px 25px;

}


box command_drop{

  padding: 0px;

}

.no-pad{

  padding: 0px;

}

img.poster{
  
  display: block;

  margin: auto;
  
  max-width:90%;

  aspect-ratio: 2 / 3;
  
}

box command_drop e{

  font-weight: bold;

  font-size: 18px;

}

input.open{

  position: absolute;
  left: -100vw;

}


img.open{

  width: 15px;

  height: 15px;

  transform: rotate(270deg);

}

box box{

  background: rgb(52,55,58);

  font-weight: normal;

  padding: 25px;

  margin: 15px;

}

command_drop box{

  display: none;

}

command_drop box div p{

  margin: 0px;

  font-size: 16px;

}

command_drop box div strong{

  margin-top: 0px;

  font-size: 16px;

  display: inline-block;

}

command_drop box div{

  display: block; 

  text-align: left;

  margin: 0px;

}

input.open:checked + img {
  transform: rotate(0);
}

command_drop:has(input.open:checked) box{

  margin-top: 25px;

  display: block;

}

.c{

  text-align: center;

}

div.holder{

  padding: 5px 15px;

  width: max-content;

  max-width: min(calc(50vw - 255px), 420px);

  align-self: center;

}

content > div#cover{

  margin-top: 10px;

  display: flex;

  background: rgb(52,55,58);

  border: 0;

  justify-content: center;

  border-radius: 0px;

}

content > div#cover > img{

  max-width: 1200px;

  width: calc(100vw - 200px);

  height: auto;

}


content p{

  text-align: left;

}

dl{
  display: grid;
  grid-template-columns: max-content auto;
  font-size: 16px;
  /* margin: 15px 15px 0px; */
}

dt {
  grid-column-start: 1;
  font-weight: bold;
}

dt::after {
  content: ":";
}

dd {
  grid-column-start: 2;
  margin: 0 15px 15px 5px;
}

box ul li{

  margin-left: 15px;

}

.large{

  font-size: 20px;

}


ul.bullet{

  list-style-type: disc;

}

ol{

  list-style-type: decimal;

}


ul.large li {

  font-size: 24px;
}


.large > li > span {

  font-size: 20px;

}

.small > li > span {

  font-size: 16px;

}

n{

  font-size: 16px;

  color: rgb(171,172,181);

  font-weight: normal;

  font-style: italic;

  display: inline-block;

}

n.i{

  font-style: italic;

}

.id{

  margin-left: 15px;

}
